// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#body_home_page{
	margin-left: 0em;
	margin-right: 0em;

}
#photo_grid_1{
	margin-left: 23em;
	width: 100em;
}
#header_home_page{
	margin-left: 23em;
}